<div data-ng-controller="CountryController as vm"  class="container-fluid ">
  <div class="row " >
    <div class="col-lg-12">
      <h2 class="row text-center app-fg-primary-dark-color">{{vm.title}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group">
         <!-- Filter bar to filter Country list -->
          <div class="icon-addon addon-lg">
           <input type="text" placeholder="Country name" class="form-control" ng-model="countryName">
           <label for="Country Name" class="glyphicon glyphicon-search" rel="tooltip" title="name"></label>
         </div>
      </div>
     </div>     
    </div>
    <div class="row">
      <div class="col-lg-12">
         <ul class="list-group" ng-show="vm.countries.length">
            <li class="list-group-item  animated zoomIn"
					ng-click="vm.states(country.alpha3_code)"
			  	    ng-repeat="country in filtered = (vm.countries | filter : countryName)">
                       <h4 >{{country.name}}</h4> 
                        <h5 >{{country.alpha3_code}}</h5>
             </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
      </div>
    </div>
  </div>
